
   
<style>
 body{
  background:rgb(251, 251, 252);
}
.bgWhite{
  background:rgb(199, 198, 243);
  box-shadow:0px 3px 6px 0px #cacaca;
}
.title{
  font-weight:600;
  margin-top:20px;
  font-size:24px
}
.customBtn{
  border-radius:0px;
  padding:10px;
}
form input{
  display:inline-block;
  width:50px;
  height:50px;
  text-align:center;
}
</style>

<div  class="container">
  <div class="row justify-content-md-center py-5 px-3">
      <div class="col-md-4 text-center">
        <div class="row">
          <div style="  border-radius: 20px;"  class="col-sm-12 mt-5 bgWhite">
            <div class="title">
              Verify OTP
            </div>
            {{#if er }}
            <span class="text-danger"> {{er}}</span>
  {{/if}}

             <h5 class="m-0">Mobile phone verification</h5><span class="mobile-text">Enter the code we just send on your mobile phone <br> <b class="text-danger">+91 {{num}}</b></span>
          
                      <form action="/otp-verify" method="post" >
                        <div class="mb-3">
                          <label class="form-label" for="basic-default-fullname">Full Name</label>
                          <input style="width: 200px;" name="otp" type="number" class="form-control m-auto" id="basic-default-fullname" placeholder="Enter Otp" maxlength=4  />
                        </div>
                     
                     
                     
                   
                        <button type="submit" class="btn btn-primary mb-4">Send</button>
                      </form>
                 

          </div>
        </div>
      </div>
  </div>
</div>


{{!-- <script>
    let digitValidate = function(ele){
  console.log(ele.value);
  ele.value = ele.value.replace(/[^0-9]/g,'');
}
let tabChange = function(val){
    let ele = document.querySelectorAll('input');
    if(ele[val-1].value != ''){
      ele[val].focus()
    }else if(ele[val-1].value == ''){
      ele[val-2].focus()
    }   
 }
</script> --}}
