<section class="vh-100 bg-image"
  style="background-image: url('https://images.pexels.com/photos/1797195/pexels-photo-1797195.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'); background-size: contain;">
  <div class="mask d-flex align-items-center h-100 ">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-4">
              <h2 class="text-uppercase text-center mb-5">Create an account</h2>

              <form action="/sign-up" method="post">
              {{#if EOR}}
              <span class="text-danger">{{EOR}}</span>
              {{/if}}

                <div class="form-outline mb-4">
                     <span class="text-danger" id="Name_ER"></span>
                  <input type="text" name="username" id="ERR-1" onkeyup="valid()" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example1cg">Your Name</label>
                 
                </div>

                <div class="form-outline mb-4">
                  <span class="text-danger" id="Email_ER"></span>
                  <input type="email" name="email" id="ERR-2"  onkeyup="validEmail()" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example3cg">Your Email</label>
                  
                </div>

                 <div class="form-outline mb-4">
                  <span class="text-danger" id="PH_ER"></span>
                  <input type="number" name="phone" id="ERR-4"  onkeyup="validPH()" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example3cg">Your Phone No.</label>
                  
                </div>

                <div class="form-outline mb-4">
                  <span class="text-danger" id="Pass_ER"></span>
                  <input type="password" name="password" id="ERR-3" onkeyup="validPass()" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example4cg">Password</label>
                  
                </div>

                {{!-- <div class="form-outline mb-4">
                  <input type="password" id="form3Example4cdg" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example4cdg">Repeat your password</label>
                </div> --}}
{{!-- 
                <div class="form-check d-flex justify-content-center mb-5">
                  <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg" />
                  <label class="form-check-label" for="form2Example3g">
                    I agree all statements in <a href="#!" class="text-body"><u>Terms of service</u></a>
                  </label>
                </div> --}}

                <div class="d-flex justify-content-center">
                  <button type="submit"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" onclick="return validation()">Register</button>
                </div>

                <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="/login-user"
                    class="fw-bold text-body"><u>Login here</u></a></p>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
function valid(){
const value=document.getElementById('ERR-1').value
const messg=document.getElementById('Name_ER')
if(value==""){
  messg.innerHTML="Please Fill The Fields"
  return false;
}
if(!value.match(/^[a-zA-Z]*$/)){
    messg.innerHTML="Only alphabets are allowed"
    return false;
  }
messg.innerHTML=""
return true;
}

function validEmail(){
    const value=document.getElementById('ERR-2').value
    const messg=document.getElementById('Email_ER')
    if(value==""){
        messg.innerHTML="Please Fill The Fields"
        return false
    }
   if(!value.match(/^\w+([\.-]?\w+)@\w+([\.-]?\w+)(\.\w{2,3})+$/)){
    messg.innerHTML="Please enter valid email"
    return false;
    }
   messg.innerHTML=""
   return true;
}

function validPass(){
const value=document.getElementById('ERR-3').value
const messg=document.getElementById('Pass_ER')
if(value==""){
  messg.innerHTML="Please Fill The Fields"
  return false;
}
if(value.length < 3){
  messg.innerHTML="characters must be above 2"
  return false;
}
messg.innerHTML=""
return true;
}
function validPH(){
const value=document.getElementById('ERR-4').value
const messg=document.getElementById('PH_ER')
if(value==""){
  messg.innerHTML="Please Fill The Fields"
  return false;
}
if(!value.match(/^\d{10}$/)){
  messg.innerHTML="Enter Valid Number"
  return false;
}
messg.innerHTML=""
return true;
}

function validation(){
  if(!valid()||!validPass()||!validEmail()||!validPH()){
     return false;
  }
  return true;
 
}
</script>